@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
:root {
	--main-white: #f9faf8;
	--secondary-white: #e5e7eb;
	--main-background: #2e2060;
	--secondary-background: #552fde;
	--blue-dark: #1f2937;
	--background-grey: #e5e7eb;
}
body {
	font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT';
	margin: 0px;
}

.max-width-container {
	max-width: 1400px;
	width: 100%;
	/* border: solid red 5px; */
}

.hero-container {
	padding: 10px;
	display: flex;
	justify-content: center;
	background: rgb(82, 59, 238);
	background: linear-gradient(
		90deg,
		rgba(82, 59, 238, 1) 0%,
		rgba(233, 152, 227, 1) 100%
	);
	border-radius: 0 0 236px 0;
	box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.42);
	-webkit-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.42);
}

header {
	/* background-color: green; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-container img {
	width: 100px;
	height: auto;
}

header {
	margin-bottom: 30px;
}

nav {
	/* background-color: red; */
	padding: 5px;
}
a {
	text-decoration: none;
}
nav a {
	margin-right: 10px;
	font-size: 18px;
	color: var(--secondary-white);
}
nav a:hover {
	margin-right: 10px;
	font-size: 18px;
	color: var(--blue-dark);
}
.hero-bottom-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-content-max-width {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1173px;
	width: 100%;
}
.hero-bottom-left h1 {
	/* background-color: red; */
	font-size: 48px;
	font-weight: bolder;
	color: var(--main-white);
	margin-bottom: 5px;
	max-width: 575px;
}
#css-title {
	font-size: larger;
	color: rgb(254, 38, 211);
}

.hero-bottom-left p {
	/* background-color: green; */
	color: var(--secondary-white);
	margin-bottom: 10px;
	margin: 0 0 5px 0;
	font-size: 18px;
	max-width: 531px;
}
button {
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	transition: transform 0.2s ease-in-out;
}

button:hover {
	cursor: pointer;
	background-color: #fff !important;
	box-shadow: 0 0 20px 11px #3f2796;
	color: #552fde !important;
	transform: scale(1.2);
}

.hero-bottom-left button {
	background-color: var(--secondary-background);
	color: var(--secondary-white);
	border: none;
}
.hero-bottom-right img {
	width: 514px;
	height: auto;
}
